:root {
  --bg-main: #050505;
  --bg-secondary: #0B1A14;
  --card: #1A1A1A;

  --accent: #C1121F;
  --accent-hover: #FF2A2A;
  --accent-toxic: #2A7A4B;

  --text-main: #F5F5F5;
  --text-muted: #7A7A7A;
}

.card {
    background-image: linear-gradient(to top,  rgb(8, 8, 8),  rgb(70, 70, 70));
    width: 350px;
    height: 300px;
    border-radius: 16px;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.02);
}

#barra {
    padding: 16px 0 0 32px;
    color: var(--text-main);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#barra span {
    color: var(--accent);

}

#barra p {
color: var(--text-muted);

}


#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding-block: 32px;
}

.card img {
    width: 350px;
    border-radius: 16px 16px 0px 0px;
    mask-image: linear-gradient(to bottom, black, transparent);
    transition-duration: 0.3s;
}

.card img:hover {
    transform: scale(1.2);
}

.card h4, h5, h6 {
    padding: 5px;
    margin-left: 5px;
}

.card h4 {
    color: var(--text-main);
}

.card h5 {
    color: var(--accent);
}

.card h6 {
    color: var(--text-muted);
    gap: 5px;
}
